{{>layout/header}}
<form action="/user/create" class="was-validated" method="post">
    <div class="form-group">
        <label for="uname">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="아이디를 입력하세요" name="username" >
        <div class="valid-feedback">Valid.</div>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요" name="password" >
        <div class="valid-feedback">Valid.</div>
    </div>
    <div class="form-group">
        <label for="pwd">E-mail:</label>
        <input type="password" class="form-control" id="email" placeholder="메일을 입력하세요" name="email" >
        <div class="valid-feedback">Valid.</div>
    </div>

    <button type="submit" class="btn btn-primary">회원가입</button>
</form>
{{>layout/footer}}

